/* Style sheet for Michael's Lawn & Home
 -Author: Christopher Collier
 -ITD 210 Final Project*/


/* This is for the option of a variable font style
  .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

// Fonts
.icon-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Header
.main-header {
    min-height: 1000px;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/treadplate-background-lg.jpg') center center no-repeat;
    background-size: cover;
  }
  .other-page-header {
    max-height: 400px;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/treadplate-background-lg.jpg') center center no-repeat;
    background-size: cover;
  }

  .header .slide {
    width: 70%;
    margin: 0 auto;
  }
  
  .carousel-inner { 
    max-height: 517px !important;
  }

  // Navbar
  .navbar {
    transition: all 0.5s ease-in-out;
  }
  
  // Google Map
  .map-container {
    overflow: hidden;
    border-radius: 10px;
    text-align: justify;
  }
  
  .map-container iframe {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    clip-path: border-radius(10px);
  }

  // Footer
  .footer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

 
  //Big Square w/ link button to Contact page
  .invitation-bg {
    background: 
      url('../images/meadow.jpg') center center no-repeat;
    background-size: cover;
  }
  

  // Medium to small screen varibles
  @media (max-width: 992px) {
    .navbar {
      background: var(--bs-dark);
    }
  
    .header {
      height: 800px !important;
      min-height: 800px !important;
    }
  
    .header .slide {
      width: 65%;
      margin: 0 auto;
    }
    
    .carousel-inner { 
      max-height: 517px !important;
    }

    .header .text-container p {
      width: 100% !important;
      font-size: 16px;
    }
    .location {
      padding: 40px 0 !important;
    }
  
    .location h2 {
      text-align: center;
    }
  }